.app{
  display:grid;
  grid-template-rows: 70px 10fr 2fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
  "h h"
  "n w"
  "f f"
  ;
}

.app img {
  width: 85px;
}

.header {
  grid-area: h;
}

.nav{
  grid-area: n;
  background-color: bisque;
}

.wrapper{
  grid-area: w;
}

.wrapper img {
  width: 100%;
}

.footer{
  grid-area: f;
  background-color: cyan;
}